# Python
__pycache__/
venv/
.venv/
env/
*.pyc
*.pyo
*.pyd

# PyInstaller / Nuitka build outputs
build/
dist/
dist_nuitka/
*.build/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and others
.vscode/
.idea/
*.swp
*~
.DS_Store
tempCodeRunnerFile.py
